*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.body{
    background-color:rgb(45, 50, 54);
}
.header{
    background-color: greenyellow;
    color: black;
}
